{% extends "poster.jinja2" %}

{## Header ##}

{% set poster_title = "SciKit-Surgery, What's New?" %}
{% set poster_subtitle = "" %}

{% set venue = "SeptembRSE 2021" %}

{% set webpage_title = poster_title + " — " + poster_subtitle %}

{% set project_url = "http://scikit-surgery.org" %}

{% set pub_datetime_iso = "2021-09-01" %}
{% set pub_date = "September 1, 2021" %}

{% block custom_head %}
<style type="text/css">
  html { font-size: 1.15rem }
</style>
{% endblock %}

{% block authors %}
  <a href="https://github.com/thompson318" property="author">Stephen Thompson</a>
  <a href="https://github.com/tdowrick" property="author">Thomas Dowrick</a>
  <a href="https://github.com/mianasbat" property="author">Mian Ahmad</a>
  <a href="https://github.com/MattClarkson" property="author">Matthew J. Clarkson</a>
{% endblock %}

{% block affiliations %}
{% endblock %}

{% block project_logos %}
  <a href="{{ project_url }}"><img style="background: #ffff99" src="assets/logo.png" alt="SciKit-Surgery Logo"></a>
{% endblock %}

{% block logos %}
  <a href="https://ucl.ac.uk"><img id="ucllogo" style="background: #ffff99" src="assets/UCL_logo_white.png" alt="UCL Logo"></a>
{% endblock %}

{% block funder_logos %}
  <a href="https://wellcome.org/"><img style="background: #ffff99" src="assets/Wellcome_Black.png" alt="Wellcome Logo"></a>
  <a href="https://www.ukri.org/councils/epsrc/"><img style="background: #ffff99" src="assets/EPSRC+logo.png" alt="EPSRC Logo"></a>
{% endblock %}

{% block centre_logo %}
  <a href="https://septembrse.society-rse.org/"><img style="background: #ffff99" src="https://septembrse.society-rse.org/wp-content/uploads/sites/3/2021/07/septembRSE_official_banner_no_background_moved.png" alt="SeptembRSE Logo"></a>
  <a href="https://www.ucl.ac.uk/interventional-surgical-sciences/"><img style="background: #ffff99" src="assets/weiss.png" alt="WEISS Logo"></a>
{% endblock %}

